aws_region            = "ap-south-1"
account_a_id           = "000000000000"
account_b_id           = "111111111111"
account_a_profile      = "account-a-admin"
account_b_profile      = "account-b-admin"
account_b_bucket_name  = "replace-with-account-b-bucket"
